<form class="sign-up">
  <h2 class="text-center">Sign up for an Account!</h2>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" required>
  </div>
  <div class="form-group">
    <label for="password-confirm">Confirm Password</label>
    <input type="password" class="form-control" id="password-confirm" required>
  </div>
  <button type="button" class="btn btn-primary" onclick="addUser()">Submit</button>
</form>
